# AWS Configuration
aws_region = "us-east-1"

# EC2 Configuration
instance_type  = "t2.micro"
instance_count = 3

# Network Configuration
vpc_cidr           = "10.0.0.0/16"
public_subnet_cidr = "10.0.1.0/24"

# Project Tags
project_name = "gitops-ansible-pull"
environment  = "dev"
